[submodule "GPU-PCG"]
	path = GPU-PCG
	url = git@github.com:A2R-Lab/GPU-PCG.git
[submodule "qdldl"]
	path = qdldl
	url = https://github.com/osqp/qdldl.git
[submodule "GLASS"]
	path = GLASS
	url = git@github.com:A2R-lab/GLASS.git
