[submodule "qdldl"]
	path = qdldl
	url = https://github.com/osqp/qdldl.git
[submodule "GLASS"]
	path = GLASS
	url = https://github.com/A2R-Lab/GLASS.git
[submodule "GRiD"]
	path = GRiD
	url = https://github.com/A2R-Lab/GRiD.git
	branch = main
[submodule "GBD-PCG"]
	path = GBD-PCG
	url = https://github.com/A2R-Lab/GBD-PCG.git
	branch = main
