<?xml version="1.0" ?>
<robot name="KUKAiiwa14" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <mujoco>
    <compiler 
    meshdir="../meshes/kuka" 
    balanceinertia="false" 
    discardvisual="true" />
  </mujoco>
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="Grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.4235294117647059 0.0392156862745098 1.0"/>
  </material>
  <material name="Brown">
    <color rgba="0.8705882352941177 0.8117647058823529 0.7647058823529411 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <!-- Fix to world just for testing -->
  <link name="world"/>
  <!--joint between WORLD and BASE-->
  <joint name="A0" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="iiwa_base"/>
  </joint>
  <!-- BASE -->
  <link name="iiwa_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.06" iyz="0" izz="0.03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_base.stl"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_base.stl"/>
      </geometry>
      <material name="Grey"/>
    </collision>
    <self_collision_checking>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <capsule length="0.25" radius="0.15"/>
      </geometry>
    </self_collision_checking>
  </link>
  <!-- joint between base and link1 -->
  <joint name="A1" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="0.00000 0.00000 0.15750"/>
    <parent link="iiwa_base"/>
    <child link="L1"/>
    <axis xyz="0 0 1"/>
    <limit effort="320" lower="-2.96706" upper="2.96706" velocity="1.48353"/>

  </joint>
  <transmission name="iiwa_tran_1">
      <robotNamespace>/KUKAiiwa14</robotNamespace>
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="A1">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="iiwa_motor_1">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!-- LINK 1-->
  <link name="L1">
    <inertial>
      <origin xyz="0 -0.03 0.12" rpy="0 0 0"/>
      <mass value="5.76"/>
      <inertia ixx="0.033" ixy="0" ixz="0" iyy="0.0333" iyz="0" izz="0.0123"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_1.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_1.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link1 and link2 -->
  <joint name="A2" type="revolute">
    <origin rpy="2.3561944901923457 -1.5707962635746238 2.3561944901923457" xyz="0.00000 0.00000 0.20250"/>
    <parent link="L1"/>
    <child link="L2"/>
    <axis xyz="0 0 1"/>
    <limit effort="320" lower="-2.0944" upper="2.0944" velocity="1.48353"/>
    <!-- <safety_controller soft_lower_limit="${-118 * PI / 180}"
                          soft_upper_limit="${118 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 2-->
  <link name="L2">
    <inertial>
      <origin xyz="0.0590000012373 -0.000299998786306 0.0419999982705" rpy="0 0 0"/>
      <mass value="6.35"/>
      <inertia ixx="0.0304" ixy="-4.47033000617e-12" ixz="-5.65326857874e-10" iyy="0.0305" iyz="6.61055524028e-10" izz="0.011"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_2.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_2.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link2 and link3 -->
  <joint name="A3" type="revolute">
    <origin rpy="1.5707963267948948 -4.371139000186238E-8 1.5707963705062866" xyz="0.20450 0.00000 0.00000"/>
    <parent link="L2"/>
    <child link="L3"/>
    <axis xyz="0 0 1"/>
    <limit effort="176" lower="-2.96706" upper="2.96706" velocity="1.74533"/>
    <!-- <safety_controller soft_lower_limit="${-168 * PI / 180}"
                          soft_upper_limit="${168 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 3-->
  <link name="L3">
    <inertial>
      <origin xyz="4.89804330067e-09 0.0299999873601 0.130000000813" rpy="0 0 0"/>
      <mass value="3.5"/>
      <inertia ixx="0.025" ixy="-1.17733280625e-11" ixz="1.86778492485e-10" iyy="0.0238" iyz="4.39175167599e-10" izz="0.0076"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_3.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_3.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link3 and link4 -->
  <joint name="A4" type="revolute">
    <origin rpy="1.5707963705062866 -0.0 0.0" xyz="0.00000 0.00000 0.21550"/>
    <parent link="L3"/>
    <child link="L4"/>
    <axis xyz="0 0 1"/>
    <limit effort="176" lower="-2.0944" upper="2.0944" velocity="1.309"/>
    <!-- <safety_controller soft_lower_limit="${-118 * PI / 180}"
                          soft_upper_limit="${118 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 4-->
  <link name="L4">
    <inertial>
      <origin xyz="2.6800516677e-09 0.0669999999568 0.034000013746" rpy="0 0 0"/>
      <mass value="3.5"/>
      <inertia ixx="0.017" ixy="6.44063317123e-12" ixz="7.35771416779e-11" iyy="0.0164" iyz="-1.88104193698e-10" izz="0.006"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_4.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_4.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link4 and link5 -->
  <joint name="A5" type="revolute">
    <origin rpy="-1.5707963705062866 0.0 -0.0" xyz="0.00000 0.18450 0.00000"/>
    <parent link="L4"/>
    <child link="L5"/>
    <axis xyz="0 0 1"/>
    <limit effort="110" lower="-2.96706" upper="2.96706" velocity="2.26893"/>
    <!-- <safety_controller soft_lower_limit="${-168 * PI / 180}"
                          soft_upper_limit="${168 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 5-->
  <link name="L5">
    <inertial>
      <origin xyz="-9.99952691416e-05 -0.0210000126901 0.0759999987606" rpy="0 0 0"/>
      <mass value="3.5"/>
      <inertia ixx="0.01" ixy="-8.69548099802e-12" ixz="1.39600743629e-11" iyy="0.0087" iyz="1.16474849246e-10" izz="0.00449"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_5.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_5.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link5 and link6 -->
  <joint name="A6" type="revolute">
    <origin rpy="2.3561944901923457 -1.5707962635746238 2.3561944901923457" xyz="0.00000 -0.06070 0.21550"/>
    <parent link="L5"/>
    <child link="L6"/>
    <axis xyz="0 0 1"/>
    <limit effort="40" lower="-2.0944" upper="2.0944" velocity="2.35619"/>
    <!-- <safety_controller soft_lower_limit="${-118 * PI / 180}"
                          soft_upper_limit="${118 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 6-->
  <link name="L6">
    <inertial>
      <origin xyz="0.00060000423019 2.64925122628e-09 0.0610999834113" rpy="0 0 0"/>
      <mass value="1.8"/>
      <inertia ixx="0.0047" ixy="-8.43397629513e-12" ixz="-7.04857613536e-11" iyy="0.0049" iyz="4.45831985457e-11" izz="0.0036"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_6.stl"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_6.stl"/>
      </geometry>
      <material name="Orange"/>
    </collision>
  </link>
  <!-- joint between link6 and link7 -->
  <joint name="A7" type="revolute">
    <origin rpy="1.5707963267948948 -4.371139000186238E-8 1.5707963705062866" xyz="0.08100 0.00000 0.06070"/>
    <parent link="L6"/>
    <child link="L7"/>
    <axis xyz="0 0 1"/>
    <limit effort="40" lower="-3.05433" upper="3.05433" velocity="2.35619"/>
    <!-- <safety_controller soft_lower_limit="${-173 * PI / 180}"
                          soft_upper_limit="${173 * PI / 180}"
                          k_position="${safety_controller_k_pos}"
                          k_velocity="${safety_controller_k_vel}"/> 
      <dynamics damping="${joint_damping}"/> -->
  </joint>
  <!-- LINK 7-->
  <link name="L7">
    <inertial>
      <origin xyz="1.15238726062e-08 -2.08204316064e-08 0.0200000042046" rpy="0 0 0"/>
      <mass value="1.2"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_7.stl"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="iiwa_link_7.stl"/>
      </geometry>
      <material name="Grey"/>
    </collision>
  </link>
  <!-- EE -->
  <joint name="EE" type="fixed">
    <parent link="L7"/>
    <child link="contact"/>
    <!-- Joint placement -->
    <origin rpy="0 0 0" xyz="0 0.0 0.04"/>
    <!-- Limits (usefull?) -->
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <!-- CONTACT (modeled by a tennis ball) -->
  <link name="contact">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
      <material name="grey">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
      <material name="grey">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </collision>
    <!-- Bullet specific paramters -->
    <contact>
      <lateral_friction value="1.0"/>
      <restitution value="0.5"/>
    </contact>
  </link>
  
  <!-- Enable the Joint Feedback -->
  <gazebo reference="KUKAiiwa14_joint_7">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <!-- The ft_sensor plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros_ft_sensor.so" name="ft_sensor">
      <updateRate>50.0</updateRate>
      <topicName>/KUKAiiwa14/state/CartesianWrench</topicName>
      <jointName>KUKAiiwa14_joint_7</jointName>
    </plugin>
  </gazebo>
  <!-- Load Gazebo lib and set the robot namespace -->
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/KUKAiiwa14</robotNamespace>
    </plugin>
  </gazebo>
  <!-- Link0 -->
  <gazebo reference="KUKAiiwa14_base">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link1 -->
  <gazebo reference="KUKAiiwa14_link1">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link2 -->
  <gazebo reference="KUKAiiwa14_link2">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link3 -->
  <gazebo reference="KUKAiiwa14_link3">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link4 -->
  <gazebo reference="KUKAiiwa14_link4">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link5 -->
  <gazebo reference="KUKAiiwa14_link5">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link6 -->
  <gazebo reference="KUKAiiwa14_link6">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- Link7 -->
  <gazebo reference="KUKAiiwa14_link7">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <!-- <xacro:iiwa_transmission hardware_interface="${hardware_interface}"/> -->
</robot>
